[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pgcli = "*"
Flask-Script = "*"
ipdb = "*"
pdbpp = "*"
"flake8" = "*"
pytest = "*"
mock = "*"
isort = "*"


[packages]

Flask = "*"
graphene = "*"
SQLAlchemy = "*"
graphene-sqlalchemy = "*"
Flask-GraphQL = "*"
Flask-SQLAlchemy = "*"
SQLAlchemy-Utils = "*"
"psycopg2-binary" = "*"
Flask-Dance = {extras = ["sqla"]}
Flask-Login = "*"
blinker = "*"
graphql-ws = "*"
gevent = "*"
Flask-Sockets = "*"
Rx = "*"
psycogreen = "*"


[requires]

python_version = "3.6"
