[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pgcli = "*"
flask-script = "*"
ipdb = "*"
pdbpp = "*"
"flake8" = "*"
pytest = "*"
mock = "*"
isort = "*"


[packages]

flask = "*"
graphene = "*"
sqlalchemy = "*"
graphene-sqlalchemy = "*"
flask-graphql = "*"
flask-sqlalchemy = "*"
sqlalchemy-utils = "*"
"psycopg2-binary" = "*"
flask-dance = {extras = ["sqla"]}
flask-login = "*"
blinker = "*"
graphql-ws = "*"
gevent = "*"
flask-sockets = "*"
rx = "*"
psycogreen = "*"
sqlalchemy-utc = "*"


[requires]

python_version = "3.6"
